#aboutMessage {
  background: #fdefe9;
  border-radius: 0 0 7px 7px;
  font-size: 1.2em;
  margin: auto;
  padding: 45px;
  width: 846px;
}

.contact {
  background: #fbf894;
  border-radius: 0 0 7px 7px;
  border-top: 19px solid #f79646;
  box-shadow: 2px 2px 5px #dccdc7;
  padding: 15px 30px;
  width: 400px;
}

@media screen and (max-width: 411px) {

  #aboutMessage {
    border: 3px solid #f79646;
    padding: 10px;
    width: 274px;
  }

  #aboutMessage article {
    text-align: justify;
  }

  #aboutMessage section {
    width: 214px;
  }

}

@media screen and (min-width: 359px) and (max-width: 764px) {

  #aboutMessage {
    width: 314px;
  }

  #aboutMessage section {
    width: 250px;
  }

}

@media screen and (min-width: 765px) and (max-width: 801px) {

  #aboutMessage {
    /* width: 649px; */
    margin: 0 10px;
    width: 701px;
  }

}
