#aboutMessage {
  background: #fdefe9;
  border-radius: 0 0 7px 7px;
  font-size: 1.2em;
  margin: auto;
  padding: 45px;
  width: 846px;
}

.contact {
  background: #fbf894;
  border-radius: 0 0 7px 7px;
  border-top: 19px solid #f79646;
  box-shadow: 2px 2px 5px #dccdc7;
  padding: 15px 30px;
  width: 400px;
}
