@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*:focus {
  position: relative;
  outline: 3px dashed #f00;
  outline-offset: 2px;
}

body {
  background: #eeedeb;
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 1em;
  font-weight: normal;
}

.scroll {
  overflow-y: scroll;
}

#barMessage {
  background: #f79646;
  border-radius: 7px 7px 0 0;
  /* color: #fff; */
  color: #333;
  margin: auto;
  margin-bottom: 1px;
  padding: 20px;
  width: 896px;
}

/**
* This class is added to
* .choice container when about is selected
*  to hide the overlay
* to elements of barMessage according to home or about path
**/
.hide {
  display: none;
}

/**
*  This rule applies a white border to all images except to the flag images
*    in the overlay
**/
img:not(#flag):not(#emoji) {
  background: #48b145;/* correct the app icons probably shape are not regular */
  border: 5px solid #fff;
  border-radius: 15px;
}

@media screen and (max-width: 411px) {

  #barMessage {
    width: 260px;
  }

}

@media screen and (min-width: 765px) and (max-width: 801px) {

  #barMessage {
    /* width: 700px; */
    width: 752px;
    font-size: 1.1em;
    margin: 0 10px;
  }

}
