@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  background: #eeedeb;
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroll {
  overflow-y: scroll;
}

#barMessage {
  background: #f79646;
  border-radius: 7px 7px 0 0;
  color: #fff;
  margin: auto;
  margin-bottom: 1px;
  padding: 20px;
  width: 896px;
}

/**
* This class is added to
* .choice container when about is selected
*  to hide the overlay
* to elements of barMessage according to home or about path
**/
.hide {
  display: none;
}

/**
*  This rule applies a white border to all images except to the flag images
*    in the overlay
**/
img:not(#flag):not(#emoji) {
  background: #48b145;/* correct the app icons probably shape are not regular */
  border: 5px solid #fff;
  border-radius: 15px;
}
