@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  background: #eeedeb;
  font-family: 'Source Sans Pro', sans-serif;
}

.selectionText {
  margin: auto;
  color: #fff;
  background: #f79646;
  width: 896px;
  padding: 20px;
  margin-bottom: 2px;
}
