/* ul {
  list-style: none;
} */

h5 {
  font-size: 1em;
  margin: 0;
}

article p {
  padding: 0 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  margin: auto;
  width: 938px;
}

.groupHead {
  background: #f79646;
  border: 1px solid #eeedeb;
  /* color: #fff; */
  color: #333;
  flex: 1 100%;
  width: auto;
}

.countries {
  font-size: 1.2em;
  /* font-weight: bold; */
  padding: 0 3% 0 27%;
}

.countriesTopHeader {
  padding-left: 5%;
}

.left {
  align-items: center;
  background: #f79646;
  border-left: 1px solid #eeedeb;
  display: flex;
  /* color: #fff; */
  color: #333;

  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
}

.korea {
  background: #9bbb59;
}

/**
* to fix android icon on Korea titles
**/
.noBold {
  font-weight: normal;
}

.right {
  background: #fdefe9;

  color: #000;

}

.koreaRight {
  background: #eff3ea;
}

.insideText {
  padding: 0 3% 0 3%;
  margin-bottom: 10px;
}

.insideText strong {
  cursor: pointer;
}

.partition {
  flex: 1 100%;
  height: 45px;
}

@media screen and (max-width: 411px) {

  .left {
    border-right: 1px solid #eeedeb;
  }

  .right{
    border: 3px solid #f79646;
    border-radius: 0 0 7px 7px;
    margin: 1px;
  }

  .koreaRight {
    border-color: #9bbb59;
  }

  .container {
    width: 302px;
  }

  .groupHead h3 {
    margin: 10px 0 0 0;
  }

  .groupHead p {
    font-size: 1em;
  }

  aside p {
    margin: 20px 29px 20px 32px;
  }

}

@media screen and (min-width: 765px) and (max-width: 801px) {

  .container {
    width: 794px;
    /* width: 741px; */
    margin: 0 9px;
  }

  aside p {
    margin: 20px 29px 20px 32px;
  }

  img {
    height: 60px;
    width: 60px;
    margin: 10px 0;
  }

}

@media screen and (min-width: 765px) {

  .left {
    border-radius: 0 0 0 7px;
    flex: 1;
    flex-flow: column;
    width: 30%;
  }

  .right {
    border-radius: 0 0 7px 0;
    flex: 3;
    width: 70%;
  }

}
