.choice {
  display: flex;
  flex-flow: column;
  color: #fff;
}

.selectionContainer {
  display: flex;
  margin: auto;
  background: #f79646;
  border-radius: 0 0 7px 7px;
}

.appSelection {
  width: 194px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition:all 0.3s ease-out;
}

.appSelection:hover {
  background: #e38639;
  cursor: pointer;
  border-radius: 7px;
  transform:scale(1.1);
}
