a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

.choice {
  display: flex;
  flex-flow: column;
  color: #fff;
}

.selectionContainer {
  display: flex;
  margin: auto;
  background: #f79646;
  border-radius: 0 0 7px 7px;
}

/**
* This class is added to .selectionContainer to remove rounded
*   borders when an app is selected.
**/
.fixBorder {
  border-radius: 0;
}

/**
* This class is added to .choice container to hide the app selection menu
*   when the user selects the about page.
**/
.hide {
  display: none;
}

.appSelection {
  width: 194px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition:all 0.3s ease-out;
}

.appSelection:hover {
  background: #e38639;
  cursor: pointer;
  border-radius: 7px;
  transform:scale(1.1);
}
