.selectionContainer a:link,
.selectionContainer a:visited {
  color: #333;
  text-decoration: none;
}

.choice {
  /* color: #fff; */
  color: #333;
  display: flex;
  flex-flow: column;
}

.selectionContainer {
  background: #f79646;
  border-radius: 0 0 7px 7px;
  display: flex;
  margin: auto;
}

/**
* This class is added to .selectionContainer to remove rounded
*   borders when an app is selected.
**/
.fixBorder {
  border-radius: 0;
}

.appSelection {
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 20px;
  transition:all 0.3s ease-out;
  width: 194px;
}

.appSelection:hover {
  background: #e38639;
  border-radius: 7px;
  cursor: pointer;
  transform:scale(1.1);
}

@media screen and (max-width: 411px) {

  img {
    height: 40px;
    width: 40px;
  }

  .selectionContainer {
    flex-wrap: wrap;
  }

  .appSelection {
    padding: 12px;
    width: 125px;
  }

  .selectionContainer {
    width: 300px;
  }

}

@media screen and (min-width: 765px) and (max-width: 801px) {

  .appSelection {
    width: 164px;
    /* width: 145px; */
  }

  .appSelection p {
    font-size: 1.1em;
  }

  .choice {
    width: 812px;
  }

  .selectionContainer {
    margin: 0 10px;
  }

}
