.btn-group {
  text-align: right;
  padding: 45px;
  width: 936px;
  padding: 45px 45px 0 45px;
  margin: auto;
}

.button {
  background: #f79646;
  border: none;
  padding: 15px 32px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: #e38639;
}

.btn-left {
  border-radius: 7px 0 0 0;
}

.btn-right {
  border-radius: 0 7px 0 0;
}
