.btn-group {
  width: 890px;
  padding: 45px 45px 0 45px;
  margin: auto;
  /* text-align: right; */
}

.button {
  background: #4c4a49;
  border: none;
  padding: 15px 32px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: #615d5c;
}

.btn-left {
  border-radius: 7px 0 0 0;
}

.btn-right {
  border-radius: 0 7px 0 0;
}
