.overlay {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  top: 74%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 45px;
  position: fixed;
  width: 100%;
}

.emptyOverlay {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 45px;
  position: fixed;
  z-index: -2;
}

#landingMessage {
  color: #fff;
  font-size: 1.1em;
}

#getInformed,
#agreeButton {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.05em;
  padding: 15px 32px;
  transition:all 0.3s ease-out;
}

.pulse {
  animation: pulse 1s infinite linear;
  display: inline-block;
  position: relative;
}

@keyframes pulse {
  0% { transform:scale(0.9); }
  50% { transform:scale(1.2); }
  100% { transform:scale(0.9); }
}

#getInformed:hover,
#agreeButton:hover {
  transform:scale(1.2);
}

#getInformed {
  background: #d42929;
  margin-right: 30px;
}

#agreeButton {
  background: #039403;
  margin-right: 30px;
}

#getInformed:hover {
  background: #f33;
}

#agreeButton:hover {
  background: #04c104;
}

#select {
  border-radius: 5px;
  font-size: 1em;
  padding: 5px;
}

.langSwitch {
  display: flex;
}

#flag {
  border-radius: 10px;
  margin-left: 25px;
}
