.overlay {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  top: 68%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 45px;
  position: fixed;
  width: 100%;
}

.emptyOverlay {
  background-color: rgb(200,200,200);
  background-color: rgba(175,175,175,0.5);
  /* display: block; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 45px;
  position: fixed;
}

#landingMessage {
  color: #fff;
  font-size: 1.1em;
}

#landingMessage h4 {
  font-weight: normal;
  margin: 18px 0;
}

#getInformed,
#agreeButton {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 15px 32px;
  transition:all 0.3s ease-out;
}

.langButton {
  background: #292929;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 12px 20px;
}

.pulse {
  animation: pulse 1s infinite linear;
  display: inline-block;
  position: relative;
}

@keyframes pulse {
  0% { transform:scale(0.9); }
  50% { transform:scale(1.2); }
  100% { transform:scale(0.9); }
}

#getInformed:hover,
#agreeButton:hover {
  transform:scale(1.2);
}

#getInformed {
  border: 3px solid #d42929;
  background: #292929;
  margin-right: 30px;
}

#agreeButton {
  border: 3px solid #039403;
  background: #292929;
  margin-right: 30px;
}

#getInformed:hover {
  background: #f33;
}

#agreeButton:hover {
  background: #04c104;
}

#select {
  border-radius: 5px;
  font-size: 1em;
  padding: 5px;
}

.langSwitch {
  display: flex;
}

#flag {
  border-radius: 8px;
  margin-left: 25px;
  margin-top: 7px;
}

@media screen and (max-width: 411px) {

  #landingMessage h4 {
    max-width: 90%
  }

  .overlay {
    padding: 20px;
    top: 40%
  }

  #getInformed,
  #agreeButton {
    padding: 15px 7px;
  }

}
